### 백준 11720 : 숫자의 합

In [1]:
# N개의 숫자가 공백 없이 쓰여있다. 이 숫자를 모두 합해서 출력하는 프로그램을 작성하시오.

n = int(input())
nums = input()

total = 0 

for i in nums:
    total += int(i)
    
print(total)

3
124
7

In [2]:
# N개의 숫자가 공백 없이 쓰여있다. 이 숫자를 모두 합해서 출력하는 프로그램을 작성하시오.

n = input()

print(sum(map(int, input())))

123
123
6

### 백준 11365 : !밀비 급일

In [3]:
while True:
    a = input()
    
    if a == 'END':
        break
        
    print(a[::-1])

leoo
ooel
END

### 백준 3029번

In [4]:
now = input()
throw = input()

h1 = int(now[:2])
m1 = int(now[3:5])
s1 = int(now[6:8])

h2 = int(throw[:2])
m2 = int(throw[3:5])
s2 = int(throw[6:8])

time1 = h1*3600 + m1*60 + s1 # 초 변환
throw1 = h2 * 3600 + m2 * 60 + s2 

if time1 < throw1:
    result = throw1 - time1
    
else:
    result = (throw1 + 24*3600) - time1
    
h3 = result // 3600
result %= 3600

m3 = result // 60

result %= 60

s3 = result

h3 = format(h3, '02')
m3 = format(m3, '02')
s3 = format(s3, '02')

print(str(h3) + ":" + str(m3) + ":" + str(s3) )

12:00:02
22:22:22
10:22:20

### 백준 16916번 : 부분 문자열

In [15]:
s = str(input())
p = str(input())

if p in s:
    print(1)
else:
    print(2)

baekjoon
kon
2